.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav li:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#name{
  margin-left: 45%;
}

#block_container > div {
    display: inline-block;
    vertical-align: middle;
}

.search {
  padding: 8px 8px 8px 32px;
  margin-top: auto;
}

.Upper {
    background-color: cyan;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 30px;
    padding-top: 10px;
}
.abc{
  padding-bottom: 20px;
}
#map {
    height: 90vh;
    width: 200vh;
    position: absolute;
}
